html {
    /* Prevents pagging from adding extra h/w to page */
    box-sizing: border-box;
}

body {
    margin: 0;
    /* vh = viewport height */
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Title */

#titleDigits {
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.titleText {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: large;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-left: .6rem;
     z-index: 2;
}

.title {
    display: flex;
    justify-content: flex-start;
    padding: 2em 3.875em 3em;
}

.titleDecor {
    margin-top: auto;
    margin-left: -8rem;
    border-right: 1rem solid red;
    border-left: 1rem solid red;
    border-top: 0;
    transform: rotate(
-62deg);
    padding-top: 3px;
    margin-right: 0px;
    border-right-width: 52px;
    margin-bottom: 42px;
    
   
}

.titleDecor2 {
    margin-top: auto;
    margin-left: -3.2rem;
    border-right: 0.5rem solid red;
    border-top: 0;
    transform: rotate( 
-24deg);
    padding-top: 3px;
    margin-right: 0px;
    border-right-width: 52px;
    margin-bottom: 24px;
}

/* Intro Section */

#introSnippet1 {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(0,0,0, .7);
    padding: 0 15px;
    padding-left: 14px;
    margin-left: -6px;
    padding-right: 8px;
    margin-right: 103px;
    border-radius: 6px;
}

#introSnippet2 {
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(0,0,0, .7);
    padding: 0 15px;
    padding-left: 14px;
    margin-left: -53px;
    padding-right: 9px;
    margin-right: 46px;
    border-radius: 6px;
}

#introSnippet3 {
    grid-column: 3;
    grid-row: 3;
    background-color: rgba(0,0,0, .7);
    padding: 0 15px;
    padding-left: 14px;
    margin-left: 4px;
    padding-right: 14px;
    margin-right: -9px;
    border-radius: 6px;
}

.intro {
    background-color: black;
    color: whitesmoke;
}

.introText{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    padding: 6em 4em 4em;
    background-image: url("img/baseball_field_home_base_intro_crop.jpeg");
}

.introText .subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Ebook Section */

.eBooks {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
}

.eBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 5px solid;
    border-radius: 6px;
    padding: 1rem;
    margin: 4rem 2rem 1rem;
}

.eBook:hover {
    background-color: rgba( 52, 52, 52, 0.2);
}

.comingSoon img{
    width: 100px;
    height: 100px;
}

/* Explore Section */

.explore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 1em;
}

/* Separator */
.sep {
    margin-top: auto;
    margin-bottom: 0px;
    /* border-top: 6px solid red; */
    border-top: 32px solid #EA001C;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

#whiteLine {
    border-top: 6px solid whitesmoke;
}

/* Buttons */

/* Footer */
.footer{
    background-color: black;
    margin-bottom: 0px;
    padding-bottom: 1.875em;
    padding-top: 1.875em;
}

.copyright {
    text-align: center;
    color: whitesmoke;
}